<div class="container">
    <a href="https://martinasapartments.com/hardstorage/2020/08/Afolabi-O.-Opakunle-Front-End.pdf" class="download-resume" target="_blank">
        <h1 class="text-success pt-5 ">Download Resume</h1>
    </a>
    <div class="row pt-2 ">

        <div class="col-md-6">
            <a href="mailto:opakunleafolabi@gmail.com" id="step4">
                <img src="assets/images/afolabi_logo.png" width="30" alt="logo">
                <span class="font-weight-bold">opakunleafolabi@gmail.com</span> just
                <span class="bg-primary p-1 rounded text-white">Hire me!</span>
            </a>
            <p>Delivering clear-cut Frontend user interfaces since 2016git .</p>
            <div class="box-in">
                <div class="spin-container">
                    <div class="shape">
                        <div class="bd"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="text-danger font-weight-bold">Mentors</h6>
                    <a href="https://github.com/ezra-obiwale" target="_blank" rel="noopener noreferrer">
                        <p class="footnote">Ezra Obiwale</p>
                    </a>
                    <a href="https://github.com/bradtraversy" target="_blank" rel="noopener noreferrer">
                        <p class="footnote">Brad Traversy</p>
                    </a>
                    <a href="https://github.com/designcourse" target="_blank" rel="noopener noreferrer">
                        <p class="footnote">Gary Simon</p>
                    </a>
                    <a href="https://www.youtube.com/c/ColtSteeleCode/featured" target="_blank"
                        rel="noopener noreferrer">
                        <p class="footnote">Colt Steele</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <h6 class="text-danger font-weight-bold">Students</h6>
                    <p class="footnote">Peace Moyosore</p>
                </div>
                <div class="col-md-4">
                    <h6 class="text-danger font-weight-bold">Recommended Sites</h6>
                    <a href="https://www.freecodecamp.org/" target="_blank" rel="noopener noreferrer">
                        <p class="footnote">freeCodeCamp.org</p>
                    </a>
                    <a href="https://www.pluralsight.com/" target="_blank" rel="noopener noreferrer">
                        <p class="footnote">Pluralsight.com</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>