.card {
    cursor: pointer;
    border: none !important;
    border-radius: 10px;
    margin-top: 2rem;
    max-height: 250px;
	  overflow: hidden;
    background-color: lightyellow;
}

a {
    color: #212529;
    opacity: 0.6;
    transition: 0.3s;
}

a:hover {
	text-decoration: none;
	color: #212529;
  background-color: #ffc107;
  opacity: 1;
}

.card.shadow:hover {
	box-shadow: -10px -10px 40px #ffffff !important;
	transition: all ease-in-out 0.3s;
}

.card-item:hover {
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3) !important;
	color: white;
	transition: all 0.2s ease-in-out;
	background-color: #0086b9;
}

.card:hover {
	cursor: pointer;
}

.circle {
  background-color: salmon;
  /*box-shadow:*/
    /*0 0 6px 3px #fff,  !* inner white *!*/
    /*0 0 10px 5px salmon, !* middle magenta *!*/
    /*0 0 10px 5px red; !* outer cyan *!*/
  /*inset 0 0 3px #fff,      !* inner white *!*/
  /*inset 2px 0 8px #f0f,   !* inner left magenta short *!*/
  /*inset -2px 0 8px #0ff,  !* inner right cyan short *!*/
  /*inset 2px 0 10px #f0f,  !* inner left magenta broad *!*/
  /*inset -2px 0 10px #0ff, !* inner right cyan broad *!*/
  /*0 0 5px #fff,            !* outer white *!*/
  /*-1px 0 8px #f0f,        !* outer left magenta *!*/
  /*1px 0 8px #0ff;         !* outer right cyan *!*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: 1s infinite alternate ease-out breathing-color--dark;
  position: absolute;
  top: 20px;
  right: 20px
}

@keyframes breathing-color--dark {
  from {
    background-color: red;
    box-shadow:
      inset 0 0 3px #fff,      /* inner white */
      inset 2px 0 8px salmon,   /* inner left magenta short */
      inset -2px 0 8px red,  /* inner right cyan short */
      inset 2px 0 10px salmon,  /* inner left magenta broad */
      inset -2px 0 10px red, /* inner right cyan broad */
      0 0 5px #fff,            /* outer white */
      -1px 0 8px salmon,        /* outer left magenta */
      1px 0 8px red;         /* outer right cyan */
  }
  to {
    background-color: salmon;
    box-shadow:
      inset 0 0 3px #fff,      /* inner white */
      inset 2px 0 4px salmon,   /* inner left magenta short */
      inset -2px 0 4px red,  /* inner right cyan short */
      inset 2px 0 2px salmon,  /* inner left magenta broad */
      inset -2px 0 5px red, /* inner right cyan broad */
      0 0 2px #fff,            /* outer white */
      -1px 0 4px salmon,        /* outer left magenta */
      1px 0 4px red;         /* outer right cyan */
  }
}
