.card {
    cursor: pointer;
    border: none !important;
    border-radius: 10px;
    margin-top: 2rem;
    max-height: 250px;
	overflow: hidden;
}

a {
    color: #212529;
    opacity: 0.6;
    transition: 0.3s;
}

a:hover {
	text-decoration: none;
	color: #212529;
  background-color: #f2f2fa;
  opacity: 1;
}

.card.shadow:hover {
	box-shadow: -10px -10px 40px #ffffff !important;
	transition: all ease-in-out 0.3s;
}

.card-item:hover {
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3) !important;
	color: white;
	transition: all 0.2s ease-in-out;
	background-color: #0086b9;
}

.card:hover {
	cursor: pointer;
}

