.card {
    cursor: pointer;
    border: none !important;
    border-radius: 10px;
    margin-top: 2rem;
    max-height: 250px;
	  overflow: hidden;
    background-color: lightyellow;
}

a {
    color: #212529;
    opacity: 0.6;
    transition: 0.3s;
}

a:hover {
	text-decoration: none;
	color: #212529;
  background-color: #ffc107;
  opacity: 1;
}

.card.shadow:hover {
	box-shadow: -10px -10px 40px #ffffff !important;
	transition: all ease-in-out 0.3s;
}

.card-item:hover {
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3) !important;
	color: white;
	transition: all 0.2s ease-in-out;
	background-color: #0086b9;
}

.card:hover {
	cursor: pointer;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
  position: absolute;
  top: 20px;
  right: 20px;
}

.green{
  background: #66FF99;
}

.orange{
  background: #f17c57fa;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

