<div class="container">
  <app-header></app-header>
  <app-banner></app-banner>
</div>
<div class="container-fluid border shadow-sm"></div>
<div class="container-fluid card-stack p-0">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-4" *ngFor="let card of cards">
        <app-card [card]='card'></app-card>
      </div>

      <div class="row mt-1 mb-5">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title text-danger">Upcoming projects...</h4>
                      <p class="card-text mb-0"><strong>Drag & Drop eShopping application</strong> <span
                              class="text-danger">
                              *</span></p>
                      <p class="card-text mb-0"><strong>betting application</strong> <span class="text-danger">
                              *</span></p>
                      <p class="card-text mb-0"><strong>Driver request application</strong><span
                              class="text-danger">
                              *</span></p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">

          </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid border shadow-sm"></div>
<div class="container-fluid bg-white p-0">
  <app-footer></app-footer>
</div>