<div class="container">
  <app-header (startIntroE)="startIntro()"></app-header>
  <app-banner></app-banner>
</div>
<div class="container-fluid border shadow-sm"></div>
<div class="container-fluid card-stack p-0">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-4" *ngFor="let card of cards">
        <app-card [card]='card'></app-card>
      </div>

      <div class="col-md-4" style="margin-top: 32px; margin-bottom: 50px;">
        <div class="card" style="border-radius: 10px;">
          <div class="card-body" style="max-height: 150px;">
            <h4 class="card-title text-warning">Upcoming Projects...</h4>
            <p class="card-text mb-0"><strong>Drag & drop eShopping application</strong> <span class="text-danger">
                *</span></p>
            <p class="card-text mb-0"><strong>Sports betting application</strong> <span class="text-danger">
                *</span></p>
            <p class="card-text mb-3"><strong>Driver request application</strong><span class="text-danger">
                *</span></p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="container-fluid border shadow-sm"></div>
<div class="container-fluid bg-white p-0">
  <app-footer></app-footer>
</div>