/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

html, body {
    padding: 0;
    margin: 0;
    font-family: "Muli", sans-serif;
    user-select: none;
    background: black;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.introjs-skipbutton {
    padding: 4px 0;
}

.introjs-button {
    border: none;
}

.introjs-button:focus {
    box-shadow: none;
}

.display-1 {
    display: block;
    margin-top: -20px;
}

@media (max-width: 776px) {
	.display-1 {
		font-size: 4rem;
        margin-top: -10px;
	}

	.display-3 {
		font-size: 3rem;
	}
}

@media (max-width: 1521px) {
	.my-pix {
		margin-bottom: 1rem;
	}
}
