/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

html, body {
    padding: 0;
    margin: 0;
    font-family: "Muli", sans-serif;
    user-select: none;
    background: black;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.introjs-skipbutton {
    padding: 4px 0;
}

.introjs-button {
    border: none;
}

@media (max-width: 576px) {
	.display-1 {
		font-size: 5rem;
        display: block;
	}

	.display-3 {
		font-size: 4rem;
	}
}

@media (max-width: 1521px) {
	.my-pix {
		margin-bottom: 1rem;
	}
}
